<div style="text-align: center" data-controller="book">
 <h1 data-target="book.output"></h1>
 <p style="font-style:italic"><%= @search_number %> results for <strong>"<%= @my_search %>..."</strong><br><br></p>
</div>

<section class="search">
  <% @books.map do |book| %>
    <% if eval @book_fields_present %>
    <div class="search__result">
      <img class="search__image" src="<%= book.image_link(:zoom => 1, :curl => true) %>" alt="<%= book.title %>">
      <div class="search__info">
        <p class="search__title"><%= truncate(book.title.titleize, :length => 62) %><p>
        <p class="search__author"><%= book.authors %></p>
      </div>
    </div>
    <% end %>
  <% end %>
</section>


>>>>>>> develop
