<%= link_to 'back to all books', books_path, class: 'replace-pag' %>
<%= link_to 'Add a new note',  new_book_note_path %>

<h2><%= @book.title %></h2>
<p>by <%= @book.author %></p>
<br>
<br>
<h2><%= @mynotes.count %> Notes below</h2>
<% @mynotes.each do |note| %>
  <p>
    <strong>Title:</strong>
    <%= note.title %>
  </p>
  
  <p>
    <strong>Body:</strong>
    <%= note.body %>
  </p>
  <%= link_to 'Link', book_note_path(@book, note), class: 'replace-pag'%>
  <hr>
<% end %>
