

<h1>Book: <%= @book.title %></h1>
<p>Title: <%= @note.title %></p>
<p>Body: <%= @note.body %></p>


<%= link_to 'back to all book notes', book_path(@book), class: 'back-books'%>
<h2>Add a Note:</h2>
<%= form_for @note, url: book_note_path do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>