<p id="notice"><%= notice %></p>
<section class="books">
  <% if @mybooks.length == 1 %>
    <p class="total-books">You have <%= @mybooks.length %> book.</p>
  <% else %>
    <p class="total-books">You have <%= @mybooks.length %> books.</p>    
  <% end %>
  <ul style="padding: 0">
  <% @mybooks.each do |book| %>
    <li class="books__unit">
      <div class="books__detail">
        <img class="books__image" src="<%= book.cover %>" alt="<%= book.title %>">
        <div class="books__info">
          <%= link_to book.title, book, class: 'books__title' %>
          <p class="books__author">by <span style="color: #003bcc; font-weight: bold"><%= book.author %></span></p>
        </div>
      </div>
      <div class="books__action">
        <%= link_to 'Show', book, class: 'primary-btn show' %>
        <%= link_to 'Delete', book, class: 'primary-btn delete', method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </li>
  <% end %>
  </ul>
	<% if @mybooks.empty? %>
  <div id="no-books">
		<p>You have no books.</p>
		<a href="/search">
      <button class="primary-btn" type="button">Add some books!</button>
    </a>
  </div>
	<% end %>
</section>
<%= will_paginate @mybooks %>



