<!-- <p id="notice"><%= notice %></p>

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Cover</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mybooks.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.cover %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
<br>
<br>
<hr>
<br> -->





<section class="search">
  <div class="search__bar" data-controller="search">
    <h1>Search for books</h1>
    <form role="search">
        <input data-target="search.input" type="search" placeholder="Search for books..." aria-label="Search for books online">
        <button data-action="search#list">Search</button>
    </form>
  </div>
  <br>
  <br>
  <ul class="search__results" id="search-results">
  </ul>
</section>




