<p id="notice"><%= notice %></p>
<section class="book">
  <div class="book__unit">
    <img class="book__image" src="<%= @book.cover %>" alt="<%= @book.title %>">
    <div class="book__detail">
      <p class="book__title"><%= @book.title %></p>
      <p class="book_author"><%= @book.author %></p>
    </div>
  </div>  
</section>