<style>
.soon {
  text-align: center;
  font-weight: bold;
  opacity: .3;
  margin-top: 2em;
  font-size: 1.5em;
}
</style>
<p id="notice"><%= notice %></p>
<section class="book">
  <div class="book__unit">
    <div class="book__detail">
      <p class="book__title"><%= @book.title %></p>
      <p class="book__author">by <span style="color: #003bcc; font-weight: bold"><%= @book.author %></span></p>
    </div>
  </div>  
  <p class="soon">Notes feature coming soon.</p>
  
<h2>Comments</h2>
<% @book.notes.each do |note| %>
  <p>
    <strong>Title:</strong>
    <%= note.title %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= note.body %>
  </p>

<% end %>
  
<h2>Add a comment:</h2>
<%= form_with(model: [ @book, @book.notes.build ], local: true) do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to 'NEW NOTES PAGE',  new_book_note_path(@book) %>
     
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
</section>