<!DOCTYPE html>
<html>
  <head>
    <title>Booksnippetapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <header>
      <nav>
        <div id="logo">
          <%= link_to "BookSnippetApp", '/' %>
        </div>
        <ul class="nav-items">
          <li><a aria-label="Go to my books" href="/books">My Books</a></li>
          <li><a aria-label="Search for books" href="/search">Search</a></li>
          <% if true %>
            <li class="sign-in"><a aria-label="Sign in" href="#">Sign in</a></li>
          <% else %>
            <li class="sign"><a aria-label="Sign in" href="#">Sign out</a></li>
          <% end %>
        </ul>
        <button class="hamburger">
          <span style="margin-top: 0"></span>
          <span></span>
          <span></span>
        </button>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
