<!DOCTYPE html>
<html>
  <head>
    <title>Booksnippetapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <header>
      <nav>
        <div id="logo">
          <%= link_to "BookSnippetApp", '/' %>
        </div>
        <ul class="nav-items">
          <% if false %>
          <li><a aria-label="Go to my books" href="/books">My Books</a></li>
          <li><a aria-label="Search for books" href="/search">Search</a></li>
          <li><a aria-label="Log out" href="#">Log out</a></li>
          <% elsif false %>
          <li><a aria-label="Log in" href="/log-in">Log in</a></li>
          <li class="sign-up"><a aria-label="Sign up" href="/log-in">Sign up</a></li>
          <% else %>
          <li><a aria-label="Go to my books" href="/books">My Books</a></li>
          <li><a aria-label="Search for books" href="/search">Search</a></li>
          <li><a aria-label="Log in" href="/log-in">Log in</a></li>
          <li class="sign-up"><a aria-label="Sign up" href="/log-in">Sign up</a></li>
          <% end %>
        </ul>
        <button type="button" class="hamburger">
          <span style="margin-top: 0"></span>
          <span></span>
          <span></span>
        </button>
      </nav>
    </header>
    <%= yield %>
    <footer>
      <p>Project by <a target="_blank" style="font-weight: bold" href="https://twitter.com/pkayokay">pkayokay</a> © <span id="year"></span></p>
    </footer>
    <script>
      var year = new Date().getFullYear()
      document.getElementById('year').innerHTML = year
    </script>
  </body>
</html>
